/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import "tailwindcss";
@plugin "@tailwindcss/typography";

.prose {
  --prose-code-bg: #f5f5f5;

  @apply prose-pre:bg-transparent prose-pre:text-(--tw-prose-body);
  @apply
    prose-code:-m-0.5 prose-code:p-0.5
    prose-code:font-normal
    prose-code:bg-(--prose-code-bg) prose-code:rounded-xs;

  code {
    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  figure {
    @apply flex place-content-center;
  }
}