---
import { blogEntries, blogEntryUrl } from '$lib/blog';

import Page from '$layouts/Page.astro';

import Posts from '$components/Posts.astro';

const posts = (await blogEntries(post => !post.data.draft)).sort(
  (a, b) => b.data.published.valueOf() - a.data.published.valueOf(),
);
---

<Page>
  <main>
    <p class="my-4">Guess what, this is my blog.</p>
    <section>
      <Posts {posts} />
    </section>
  </main>
</Page>
