---
import { type BlogEntry, blogEntryUrl } from '$lib/blog';

import FormattedDate from '$components/FormattedDate.astro';
import TagList from '$components/TagList.astro';
import PostMeta from './PostMeta.astro';

interface Props {
  posts: BlogEntry[];
}

const { posts } = Astro.props;
---

<ul class="m-0 flex flex-col flex-wrap gap-1">
  {
    posts.map((post) => (
      <li class="block m-0">
        <PostMeta {post} link showExcerpt />
      </li>
    ))
  }
</ul>
