---
interface Props {
  tags?: string[];
}

const { tags } = Astro.props;
---

<ul class="text-sm m-0 flex flex-wrap gap-1">
  {tags !== undefined && tags.map(tag => (
    <li class="m-0">
      <a href={`/tags/${tag.toLowerCase()}`} class="bg-gray-200 rounded-xs px-1">{tag}</a>
    </li>
  ))}
</ul>
